img.logo {
    width: 30%;
    transform: rotate(-5deg);
    position: absolute;
    left: -10%;
    top: 0;
}

.container.inner.server {
    color: #fff !important;
}

section#portfolio portbg {}

.portbg {
    box-shadow: #fff 0px 0px 40px 40px !important;
    background-color: #fff !important;
}

.container.inner.onas {
    color: #fff;
}