img.logo {
    width: 30%;
    position: absolute;
    left: -20%;
    top: 0%;
    border-radius: 100%;
}

.container.inner.server {
    color: #fff !important;
}

section#portfolio portbg {}

.portbg {
    box-shadow: #fff 0px 0px 5px 5px !important;
    background-color: #fff !important;
}

.container.inner.onas {
    color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
}

.container.inner {}

ul.timeline h4 {
    font-size: 28px;
}

h2.section-heading.text-uppercase {
    font-size: 60px;
    font-weight: 700;
    font-family: TrixieCyr-Plain;
    color: #204312;
    text-shadow: #204312 0 0 2px;
}

h4.service-heading {
    font-size: 42px;
    color: #204312 !important;
    font-weight: 700;
    text-shadow: #204312 0 0 2px;
    font-family: TrixieCyr-Plain;
    /* border-radius: 100%; */
}

h4 {}

.portfolio-caption h4 {
    font-size: 30px;
}

.col-md-4 {}

.text-muted {
    color: #fff !important;
}

h3.section-subheading.text-muted {
    color: #ffa30f !important;
}

p.portfolio-caption.text-muted {
}

p.container.inner.port.text-muted {
    /* color: #ffa30f !important; */
}

ul.timeline h4 {
    color: #ffa30f !important;
}

.col-lg-8.mx-auto.text-center p {
    color: #ffa30f !important;
}

.portfolio-caption p {
    color: #ffa30f !important;
}

.team-member p {
    color: #ffa30f !important;
}

.team-member h4 {
    font-size: 32px;
}

.col-md-4.bglo {

    04312a3 */
padding-top: 14.5%;
}

i.fa.fa-circle.fa-stack-2x.text-primary {
    color: #ffa30f4a !important;
    text-shadow: #ffa30f73 0px 0px 0px;
    box-shadow: #ffa30f 0px 0px 40px 10px;
    border-radius: 100%;
}

i.fa.fa-laptop.fa-stack-1x.fa-inverse {color: #204312;text-shadow: #204312 0 0 2px;}

span.fa-stack.fa-4x {
    border-radius: 100%;
}

.col-md-4.bglo han {}

.col-md-4.bglo.han {
}

ul.navbar-nav.text-uppercase.ml-auto {
    float: right;
    position: relative;
    right: -10%;
}

a.nav-link.js-scroll-trigger {
    font-family: TrixieCyr-Plain !important;
    font-size: 130% !important;
}

.container.inner.onas.row {
}

.col-lg-12.text-center {}

.row {width: 100%;}

ul.timeline.tuob li {
    background-image: url(/img/images/paper2.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: left 12% top 50%;
    padding: 2%;
    min-height: 100%;
}

li.timeline-inverted.tuobr {
}

li.tuobl {
    /* background-repeat: no-repeat; */
    background-position: left 12% top 50%; */
    in-height: 100%; */
}

.row.text-center {
    /* border-radius: 100%; */

     */
    background-position: center; */
    height: 600px; */
    height:;
    /* box-shadow: #204312e3 0 0 240px 80px; */
}

p.text-muted.seer {
    padding: 2% 1%;
}

h2.section-heading.text-uppercase.serot {
    color: #204312;
    text-shadow: #204312 0 0 3px;
    font-weight: 700;
}

.col-lg-12.text-center {}

.col-lg-12.text-center {padding-bottom: 10%;}

section#services {
    padding: 50px 0;
}

.col-lg-12.text-center.servet {

    100% 100% */
}

.row.sser {
}
i.fa.fa-shopping-cart.fa-stack-1x.fa-inverse.srva {color: #204312;text-shadow: #204312 0 0 2px;}

i.fa.fa-lock.fa-stack-1x.fa-inverse.srva {
    color: #204312;
    text-shadow: #204312 0 0 2px;
}
*:before,
		*:after {
		  box-sizing: border-box;
		}




    .slider{
      width: 80%;
    }

		legend {
			color: #727272;
			font-family: 'Bad Script', cursive;
			font-weight: 100;
			margin: 0 0px 1rem;
			display: block;
			padding: 0 2rem;
			background: transparent;
			font-size: 2rem;
		}

		fieldset {
			border: 1px solid #c7c7c7;
		    padding: 0 2rem;
		}

		.container {
		  text-align: center;
		  padding: 2rem;
		}

		.slider {
		  position: relative;
		  height: 250px;
		}

		@media only screen and (min-width: 720px) {
			.slider {height: 350px;}
		}

		@media only screen and (min-width: 920px) {
			.slider {height: 450px;}
		}


		.slider__list {
		  position: relative;
		  transition: all .52s cubic-bezier(0.17, 0.84, 0.44, 1);
		}

		.slider__item {
		    width: 33%;
		    transform-style: preserve-3d;
		    transition-property: perspective;
		    backface-visibility: hidden;
		    transition: all .52s ease-in-out;
		    touch-action: pan-X;
		    position: absolute;
		    right: 1rem;
		    top: 0;
		    z-index: 200;
		    opacity: 0;
		}

		.slider__label {
		  display: block;
		  width: 100%;
		  margin: 2rem 0;
		  transform-origin: 50% 50%;
		  transform: perspective(70em) rotateY(-30deg);
		  transition: all .52s ease-in-out;
		  cursor: pointer;
		  position: relative;
		}

		.slider__label:after {
			content: '';
			display: block;
			position: absolute;
			top:0;
			left:0;
			right:0;
			bottom: 4px;
		    background: rgba(0, 0, 0, 0.51);
		    transition: all .52s ease-in-out;
		}

		.slider__label:hover:after {
			opacity: 0;
		}

		.slider__img {
		  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
		}

		.slider__control {
		  -webkit-appearance: none;
		  width: 12px;
		  height: 12px;
		  border-radius: 50%;
		  border: 1px solid #b7b7b7;
		  background: #fff;
		  cursor: pointer;
		  outline: none;
		  position: absolute;
		  z-index: 700;
		  bottom: 3rem;
		  left: 50%;
		  transition: all .52s ease-in-out;
		}

		.slider__control:checked {
		  background: darkcyan;
		}

		.slider__control:hover {
			background: #ccc;
		}

		#rsl-1 { margin-left: -55px; }
		#rsl-2 { margin-left: -30px; }
		#rsl-3 { margin-left: -7px; }
		#rsl-4 { margin-left: 15px; }
		#rsl-5 { margin-left: 35px; }

		#rsl-1:checked ~ .slider__list .slider__label-1,
		#rsl-2:checked ~ .slider__list .slider__label-2,
		#rsl-3:checked ~ .slider__list .slider__label-3,
		#rsl-4:checked ~ .slider__list .slider__label-4,
		#rsl-5:checked ~ .slider__list .slider__label-5 {
		  transform:  rotateY(0deg) scale(1.12);
		}

		#rsl-1:checked ~ .slider__list .slider__label-1:after,
		#rsl-2:checked ~ .slider__list .slider__label-2:after,
		#rsl-3:checked ~ .slider__list .slider__label-3:after,
		#rsl-4:checked ~ .slider__list .slider__label-4:after,
		#rsl-5:checked ~ .slider__list .slider__label-5:after {
			opacity: 0;
		}

		#rsl-2:checked ~ .slider__list .slider__label-1,
		#rsl-3:checked ~ .slider__list .slider__label-2,
		#rsl-4:checked ~ .slider__list .slider__label-3,
		#rsl-5:checked ~ .slider__list .slider__label-4{
		  transform: perspective(70em) rotateY(30deg);
		}

		#rsl-1:checked ~ .slider__list .slider__item:nth-of-type(1),
		#rsl-2:checked ~ .slider__list .slider__item:nth-of-type(2),
		#rsl-3:checked ~ .slider__list .slider__item:nth-of-type(3),
		#rsl-4:checked ~ .slider__list .slider__item:nth-of-type(4),
		#rsl-5:checked ~ .slider__list .slider__item:nth-of-type(5) {
		    transform: translateX(-100%);
		    opacity: 1;
		}

		#rsl-2:checked ~ .slider__list .slider__item:nth-of-type(1),
		#rsl-3:checked ~ .slider__list .slider__item:nth-of-type(2),
		#rsl-4:checked ~ .slider__list .slider__item:nth-of-type(3),
		#rsl-5:checked ~ .slider__list .slider__item:nth-of-type(4),
		#rsl-1:checked ~ .slider__list .slider__item:nth-of-type(5) {
			transform: translateX(-200%);
			opacity: 1;
		}

		#rsl-1:checked ~ .slider__list .slider__item:nth-of-type(2),
		#rsl-2:checked ~ .slider__list .slider__item:nth-of-type(3),
		#rsl-3:checked ~ .slider__list .slider__item:nth-of-type(4),
		#rsl-4:checked ~ .slider__list .slider__item:nth-of-type(5),
		#rsl-5:checked ~ .slider__list .slider__item:nth-of-type(1) {
			opacity: 1;
			z-index: 201;
		}

		#rsl-1:checked ~ .slider__list .slider__item:nth-of-type(5) .slider__label-5 {
			transform:  perspective(70em) rotateY(30deg);
		}

		.slider__description {
			max-width: 300px;
		    width: 100%;
		    text-align: left;
		    margin: 0 auto 5rem;
		    font-size: 1.5rem;
		    line-height: 2.2rem;
		    font-weight: inherit;
		    color: #333;
		}

		.slider__info {
			font-size: 1.2rem;
			line-height: 2rem;
			margin-bottom: 2rem;
		    color: #727272;
		}

		.slider__info a {
			color: darkcyan;
			text-decoration: none;
		}

		.slider__info a:hover {
			color: lightseagreen;
		}
