img.logo {
    width: 30%;
    position: absolute;
    left: -20%;
    top: 0%;
    border-radius: 100%;
}

.container.inner.server {
    color: #fff !important;
}

section#portfolio portbg {}

.portbg {
    box-shadow: #fff 0px 0px 5px 5px !important;
    background-color: #fff !important;
}

.container.inner.onas {
    color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
}

.container.inner1 {}

ul.timeline h4 {
    font-size: 28px;
}

h2.section-heading.text-uppercase {
    font-size: 60px;
    font-weight: 700;
    font-family: TrixieCyr-Plain;
    color: #204312;
    text-shadow: #204312 0 0 2px;
}

h4.service-heading {
    font-size: 42px;
    color: #204312 !important;
    font-weight: 700;
    text-shadow: #204312 0 0 2px;
    font-family: TrixieCyr-Plain;
    /* border-radius: 100%; */
}

h4 {}

.portfolio-caption h4 {
    font-size: 30px;
}

.col-md-4 {}

.text-muted {
    color: #fff !important;
}

h3.section-subheading.text-muted {
    color: #ffa30f !important;
}

p.portfolio-caption.text-muted {
}

p.container.inner.port.text-muted {
    /* color: #ffa30f !important; */
}

ul.timeline h4 {
    color: #ffa30f !important;
}

.col-lg-8.mx-auto.text-center p {
    color: #ffa30f !important;
}

.portfolio-caption p {
    color: #ffa30f !important;
}

.team-member p {
    color: #ffa30f !important;
}

.team-member h4 {
    font-size: 32px;
}

.col-md-4.bglo {

    04312a3 */
padding-top: 14.5%;
}

i.fa.fa-circle.fa-stack-2x.text-primary {
    color: #204312d9 !important;
    text-shadow: #ffa30f73 0px 0px 0px;
    box-shadow: #204312 0px 0px 40px 10px;
    border-radius: 100%;
}

i.fa.fa-laptop.fa-stack-1x.fa-inverse {color: #ffa30f;text-shadow: #ffa30f  0 0 2px;}

span.fa-stack.fa-4x {
    border-radius: 100%;
}

.col-md-4.bglo han {}

.col-md-4.bglo.han {
}

ul.navbar-nav.text-uppercase.ml-auto {
    float: right;
    position: relative;
    right: -10%;
}

a.nav-link.js-scroll-trigger {
    font-family: TrixieCyr-Plain !important;
    font-size: 130% !important;
}

.container.inner.onas.row {
}

.col-lg-12.text-center {}

.row {width: 100%;}

ul.timeline.tuob li {
    background-image: url(/img/images/paper2.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: left 12% top 50%;
    padding: 2%;
    min-height: 100%;
}

li.timeline-inverted.tuobr {
}

li.tuobl {
    /* background-repeat: no-repeat; */
    background-position: left 12% top 50%; */
    in-height: 100%; */
}

.row.text-center {
    /* border-radius: 100%; */

     */
    background-position: center; */
    height: 600px; */
    height:;
    /* box-shadow: #204312e3 0 0 240px 80px; */
}

p.text-muted.seer {
    padding: 2% 1%;
    color: #204312 !important;
    font-size: 21px;
    font-weight: 500;
}

h2.section-heading.text-uppercase.serot {
    color: #204312;
    text-shadow: #204312 0 0 3px;
    font-weight: 700;
}

.col-lg-12.text-center {}

.col-lg-12.text-center {padding-bottom: 10%;}

section#services {
    background: #ffa30f91;
    box-shadow: #ffa30f85 0 0 5px 5px;
}

.col-lg-12.text-center.servet {

    100% 100% */
}

.row.sser {
}
i.fa.fa-shopping-cart.fa-stack-1x.fa-inverse.srva {color: #ffa30f;text-shadow: #ffa30f  0 0 2px;}

i.fa.fa-lock.fa-stack-1x.fa-inverse.srva {
    color: #ffa30f;
    text-shadow: #ffa30f 0 0 2px;
}
